@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
*{
    margin: 0;
    padding: 0;
}
div.top{
    height: 60px;
    margin-bottom: 2vh;
}

nav{ 
    background-color: black;
    color: white;
    /* height: 80px; */
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-right: 3vw;
}
nav li{
    padding-right: 1vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}
nav img{
    width: 4.5vw;
    padding: 0;
}
#brand{
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 2.7vw;
    padding-right: 1.5vw;
}

.body{ 
    background-image: url("images/body.jpg");
    background-size: cover;
    background-position: right;
    margin: auto;
    height: 650px;
    width: 80%;
    border-radius: 1vw;
    padding: 5px 10px;
    margin-bottom: 2vh;
    color: rgb(255, 255, 255);
    
    
}
.SongItem{
color: white;
background-color: rgba(26, 167, 167, 0.678);
border-radius: 15px;
width: 75vw;
margin-top: 7px;
border-bottom: 5px solid rgba(82, 7, 82, 0.568);
font-family: 'Source Sans Pro', sans-serif;
justify-content: space-around;
}

.SongItem:hover{
    background-color: rgba(103, 23, 134, 0.226);
}

img.SongIcon{
    width: 5vh;
    border: 2px solid white;
    border-right:3px solid rgba(14, 60, 83, 0.829);
    border-bottom:3px solid rgba(4, 39, 56, 0.829);;
    border-radius: 10px ;
    
}

#songCover{
    position:fixed;
    right: 50px;
    top: 6px;
    width: 6vw;
}

.SongControl{ 
 float: right;
   margin-right: 0.5vw;
   margin-top: 1.5vh;
}

.SongControl i{
    cursor: pointer;
}

.bottom{
    position: sticky;
    margin-top: 10px;
    /* padding: 15px; */
    /* float: bottom; */
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'League Gothic', sans-serif;
}
#progressBar{
    position: relative;
    width: 80vw;
    bottom: 2.5vh;
    cursor: pointer;
}

#wave{
    position: absolute;
    bottom: 5px;
    left: 5vw;
    width: 5vw;
    height: 30px;
    transition: 0.5s;
    opacity:0;
}

#SongBottomName{
    position: absolute;
    bottom: 5px;
    left: 11vw;
    
    transition: 0.5s;
    opacity:0;
}

.icon{
    position: absolute;
    bottom: 7px;
    cursor: pointer;
}